{% extends "common/base.html" %}
{% load i18n %}

{# TODO: Only owner should have access to this page #}

{% block title %}
    Add contributor for {{ sub_plugin }}
{% endblock title %}

{% block content %}

    <h1>Add contributor for {{ sub_plugin }}</h1>

    <br />

    <form action="" method="get">
        {{ filter.form.as_p }}
        <input type="submit" />
    </form>

    {% if request.GET %}
        {% if message %}
            <b><span style="color: red">{{ user.username }}</span></b> {{ message }}
        {% elif user %}
            <br />
            Select the username to go to the confirmation page.
            <br />
            <a href="{% url 'plugins:sub_plugins:confirm_add_contributor' slug=plugin.slug sub_plugin_slug=sub_plugin.slug id=user.id %}">{{ user.username }}</a>
            <br />
        {% else %}
            <b>No user <span style="color: red">{{ request.GET.username }}</span> found.</b>
        {% endif %}
    {% endif %}

{% endblock content %}
