# PyCharm directory
/.idea

# Database files
*.sqlite3

# Local batch files
*.bat

# Local shell files
*.sh

# Migrations
*/migrations/0*

# Compiled Python
*.pyc

# Local database populating directory
/populate

# Mac files
.DS_Store

# Python files in the base directory (used for testing)
/*.py
