# PyCharm directory
/.idea

# Database files
*.sqlite3

# Local text files
*.txt
!pip-requirements/*.txt

# Compiled Python
*.pyc

# Local database populating directory
/populate

# Mac files
.DS_Store

# Static files (collect location)
/static/

# Favicon
favicon.png

htmlcov
.coverage
.pytest_cache
.secret_key
