# -e git://github.com/ZombieToof/django-phpbb.git
configobj==5.0.6
django==1.10.4
django-braces==1.10.0
django-crispy-forms==1.6.1
django-debug-toolbar==1.6
django-filter==1.0.1
django-model-utils==2.6
django-precise-bbcode==1.2.6
djangorestframework==3.5.3
path.py==9.0.1
postmarkup==1.2.2
