{% extends "base.html" %}

{% block title %}
    Contributors List
{% endblock title %}

{% block content %}
    {% load static %}
    <div class="block contributorslist">
        <h1>Contributors</h1>
        <div class="section">
            <div class="sectiontop">
            </div>
            <div class="sectioncontent">
                <div class="sectionentry">
                    {% if forumuser_list %}
                        {% for user in forumuser_list %}
                            <div class="entryleft">
                                <div class="userlistimg">
                                    <a href="{{ user.get_absolute_url }}">
{#                                    {% if user.logo %}#}
{#                                        <img src="{{ MEDIA_URL }}{{ user.logo }}" alt="{{ user }} Logo"/>#}
{#                                    {% else %}#}
{#                                        <img src="{% static "project_manager/img/default.png" %}" alt="{{ user }} Logo"/>#}
{#                                    {% endif %}#}
                                    </a>
                                </div>
                            </div>
                            <div class="entryright">
                                <div class="userlisttitle">
                                    <a href="{{ user.get_absolute_url }}">{{ user }}</a>
                                </div>
                            </div>
                        {% endfor %}
                    {% else %}
                        <h2>There are no users that have registered plugins or packages.</h2>
                    {% endif %}
                </div>
            </div>
            <div class="sectionfooter">
                <div class="pagenumbers">
                    {% for page_url in page_url_list %}
                        {% if page_url.url %}
                            <a href="{% url 'users:list' %}{{ page_url.url }}">{{ page_url.display }}</a>
                        {% else %}
                            {{ page_url.display }}
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
