{% extends "base.html" %}

{% block title %}
    {{ forumuser }}
{% endblock title %}

{% block content %}
    <div class="block viewcontributor">
    <h1>{{ forumuser }}</h1>
    <ul><a href="{{ forumuser.get_forum_url }}">Forum Account</a></ul>
    {% if plugins or sub_plugins or packages or plugin_contributions or sub_plugin_contributions or package_contributions %}

        {% if plugins or sub_plugins or packages %}
            <ul>
            <h2>Projects:</h2>
            <ul>
            {% if plugins %}
                <h3>Plugins:</h3>
                <ul>
                {% for plugin in plugins %}
                    <li><a href="{{ plugin.get_absolute_url }}">{{ plugin }}</a></li>
                {% endfor %}
                </ul>
            {% endif %}
            {% if sub_plugins %}
                <h3>Sub-plugins:</h3>
                <ul>
                {% for sub_plugin in sub_plugins %}
                    <li><a href="{{ sub_plugin.get_absolute_url }}">{{ sub_plugin }}</a> ( <a href="{{ sub_plugin.plugin.get_absolute_url }}">{{ sub_plugin.plugin }}</a> )</li>
                {% endfor %}
                </ul>
            {% endif %}
            {% if packages %}
                <h3>Packages:</h3>
                <ul>
                {% for package in packages %}
                    <li><a href="{{ package.get_absolute_url }}">{{ package }}</a></li>
                {% endfor %}
                </ul>
            {% endif %}
            </ul>
            </ul>
        {% endif %}
        {% if plugin_contributions or sub_plugin_contributions or package_contributions %}
            <ul>
            <h2>Contributions:</h2>
            <ul>
            {% if plugin_contributions %}
                <h3>Plugins:</h3>
                <ul>
                {% for plugin in plugin_contributions %}
                    <li><a href="{{ plugin.get_absolute_url }}">{{ plugin }}</a></li>
                {% endfor %}
                </ul>
            {% endif %}
            {% if sub_plugin_contributions %}
                <h3>Sub-plugins:</h3>
                <ul>
                {% for sub_plugin in sub_plugin_contributions %}
                    <li><a href="{{ sub_plugin.get_absolute_url }}">{{ sub_plugin }}</a> ( <a href="{{ sub_plugin.plugin.get_absolute_url }}">{{ sub_plugin.plugin }}</a> )</li>
                {% endfor %}
                </ul>
            {% endif %}
            {% if package_contributions %}
                <h3>Packages:</h3>
                <ul>
                {% for package in package_contributions %}
                    <li><a href="{{ package.get_absolute_url }}">{{ package }}</a></li>
                {% endfor %}
                </ul>
            {% endif %}
            </ul>
            </ul>
        {% endif %}
    {% else %}
        User does not have any plugins, sub-plugins, packages, or contributions.
    {% endif %}
    </div>
{% endblock content %}
