{% extends "base.html" %}

{% block title %}
    {{ pypirequirement }}
{% endblock title %}

{% block content %}
    <h1>{{ pypirequirement }}</h1>
    <p>As this is a package, you cannot simply load it.  Plugins/Sub-Plugins may utilize this package by importing it in their code.</p>

    <p><a href="{{ pypirequirement.get_pypi_url }}">PyPi URL</a></p>

    {% if required_in_plugins or required_in_sub_plugins or required_in_packages %}
        <h3>Usage Lists</h3>
        <ul>
            {% if required_in_plugins %}
                <br />
                <div class="row">
                    <div class="col-sm-12">
                        <div class="panel panel-primary panel-primary-custom">
                            <div class="panel-heading panel-heading-custom">
                                <h3 class="panel-title">Plugins that require {{ pypirequirement }}</h3>
                            </div>
                            <table class="table">
                                <tbody>
                                    {% for group in required_in_plugins %}
                                        <tr>
                                            {% for plugin in group %}
                                                {% if plugin %}
                                                    <td><a href="{{ plugin.get_absolute_url }}">{{ plugin }}</a></td>
                                                {% endif %}
                                            {% endfor %}
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            {% endif %}

            {% if required_in_sub_plugins %}
                <br />
                <div class="row">
                    <div class="col-sm-12">
                        <div class="panel panel-primary panel-primary-custom">
                            <div class="panel-heading panel-heading-custom">
                                <h3 class="panel-title">Sub-Plugins that require {{ pypirequirement }}</h3>
                            </div>
                            <table class="table">
                                <tbody>
                                    {% for group in required_in_sub_plugins %}
                                        <tr>
                                            {% for sub_plugin in group %}
                                                {% if sub_plugin %}
                                                    <td><a href="{{ sub_plugin.get_absolute_url }}">{{ sub_plugin }}</a></td>
                                                {% endif %}
                                            {% endfor %}
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            {% endif %}

            {% if required_in_packages %}
                <br />
                <div class="row">
                    <div class="col-sm-12">
                        <div class="panel panel-primary panel-primary-custom">
                            <div class="panel-heading panel-heading-custom">
                                <h3 class="panel-title">Packages that require {{ pypirequirement }}</h3>
                            </div>
                            <table class="table">
                                <tbody>
                                    {% for group in required_in_packages %}
                                        <tr>
                                            {% for package in group %}
                                                {% if package %}
                                                    <td><a href="{{ package.get_absolute_url }}">{{ package }}</a></td>
                                                {% endif %}
                                            {% endfor %}
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            {% endif %}
        </ul>
    {% endif %}
{% endblock content %}
