{% extends "common/base.html" %}

{% block title %}PyPi Packages{% endblock title %}

{% block content %}

<body>
<div class="container">
    {% if pypirequirement_list %}
        <h1>PyPi Packages</h1>
        <ul>
            {% for package in pypirequirement_list %}
                <li><a href="{{ package.get_absolute_url }}">{{ package.name }}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <h1>No PyPi packages are required by any plugins, sub-plugins, or packages.</h1>
    {% endif %}
</div>
</body>

{% endblock content %}
