{% extends "common/base.html" %}

{% block title %}
    PyPi Packages
{% endblock title %}

{% block content %}
    <div class="container">
        {% if pypirequirement_list %}
            <h1>PyPi Packages</h1>
            <ul>
                {% for package in pypirequirement_list %}
                    <li><a href="{{ package.get_absolute_url }}">{{ package }}</a></li>
                {% endfor %}
            </ul>
            {% for page_url in page_url_list %}
                {% if page_url.url %}
                    <a href="{% url 'pypi:list' %}{{ page_url.url }}">{{ page_url.display }}</a>
                {% else %}
                    {{ page_url.display }}
                {% endif %}
            {% endfor %}
        {% else %}
            <h1>No PyPi packages are required by any plugins, sub-plugins, or packages.</h1>
        {% endif %}
    </div>
{% endblock content %}
