{% extends "common/sidebar.html" %}

{% block title %}{{ pypirequirement.name }}{% endblock title %}

{% block content %}

<body>
    <h1>{{ pypirequirement.name }}</h1>
    <p>As this is a package, you cannot simply load it.  Plugins/Sub-Plugins may utilize this package by importing it in their code.</p>

    <p><a href="{{ pypirequirement.get_pypi_url }}">PyPi URL</a></p>

    {% if pypirequirement.required_in_plugins.all %}
        <br />
        <p>Here is a list of plugins that require {{ pypirequirement.name }}:</p>
        {% for plugin in pypirequirement.required_in_plugins.all %}
            <li><a href="{% url 'plugins:plugin-detail' slug=plugin.slug %}">{{ plugin.name }}</a></li>
        {% endfor %}
    {% endif %}

    {% if pypirequirement.required_in_sub_plugins.all %}
        <br />
        <p>Here is a list of sub-plugins that require {{ pypirequirement.name }}:</p>
        {% for sub_plugin in pypirequirement.required_in_sub_plugins.all %}
            <li><a href="{% url 'plugins:sub-plugins:sub-plugin-detail' slug=sub_plugin.plugin.slug sub_plugin_slug=sub_plugin.slug %}">{{ sub_plugin.name }}</a></li>
        {% endfor %}
    {% endif %}

    {% if pypirequirement.required_in_packages.all %}
        <br />
        <p>Here is a list of packages that require {{ pypirequirement.name }}:</p>
        {% for package in pypirequirement.required_in_packages.all %}
            <li><a href="{% url 'packages:package-detail' slug=package.slug %}">{{ package.name }}</a></li>
        {% endfor %}
    {% endif %}
</body>

{% endblock content %}
