{% extends "common/base.html" %}

{% block title %}
    {{ pypirequirement }}
{% endblock title %}

{% block content %}

    <body>
        <h1>{{ pypirequirement }}</h1>
        <p>As this is a package, you cannot simply load it.  Plugins/Sub-Plugins may utilize this package by importing it in their code.</p>

        <p><a href="{{ pypirequirement.get_pypi_url }}">PyPi URL</a></p>

        {% if required_in_plugins or required_in_sub_plugins or required_in_packages %}
            <h3>Usage Lists</h3>
            <ul>
                {% if required_in_plugins %}
                    <br />
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="panel panel-primary panel-primary-custom">
                                <div class="panel-heading panel-heading-custom">
                                    <h3 class="panel-title">Plugins that require {{ pypirequirement }}</h3>
                                </div>
                                <table class="table">
                                    <tbody>
                                        {% for group in required_in_plugins %}
                                            <tr>
                                                {% for plugin in group %}
                                                    {% if plugin %}
                                                        <td><a href="{% url 'plugins:detail' slug=plugin.slug %}">{{ plugin }}</a></td>
                                                    {% endif %}
                                                {% endfor %}
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                {% endif %}

                {% if required_in_sub_plugins %}
                    <br />
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="panel panel-primary panel-primary-custom">
                                <div class="panel-heading panel-heading-custom">
                                    <h3 class="panel-title">Sub-Plugins that require {{ pypirequirement }}</h3>
                                </div>
                                <table class="table">
                                    <tbody>
                                        {% for group in required_in_sub_plugins %}
                                            <tr>
                                                {% for sub_plugin in group %}
                                                    {% if sub_plugin %}
                                                        <td><a href="{% url 'plugins:sub_plugins:detail' slug=sub_plugin.plugin.slug sub_plugin_slug=sub_plugin.slug %}">{{ sub_plugin }}</a></td>
                                                    {% endif %}
                                                {% endfor %}
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                {% endif %}

                {% if required_in_packages %}
                    <br />
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="panel panel-primary panel-primary-custom">
                                <div class="panel-heading panel-heading-custom">
                                    <h3 class="panel-title">Packages that require {{ pypirequirement }}</h3>
                                </div>
                                <table class="table">
                                    <tbody>
                                        {% for group in required_in_packages %}
                                            <tr>
                                                {% for package in group %}
                                                    {% if package %}
                                                        <td><a href="{% url 'packages:detail' slug=package.slug %}">{{ package }}</a></td>
                                                    {% endif %}
                                                {% endfor %}
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </ul>
        {% endif %}
    </body>

{% endblock content %}
