outer {
    width: auto;
    margin: 0 auto;
}

inner {
    overflow: hidden;
}

content {
    margin: 20px;
    width: auto;
    float: left;
}

sidebar {
    margin: 10px;
    border: solid #A94F22;
    width: auto;
    float: left;
    background: #cccccc;
}

.panel-heading.panel-heading-custom {
    background: #A94F22;
    color: white;
    border-color: #A94F22;
}

.panel-primary.panel-primary-custom {
    border-color: #A94F22;
    width: 600px;
}
