.btn-submit {
  color: #FFFFFF;
  background-color: #A94F22;
  border-color: #A94F22;
}

.btn-submit:hover,
.btn-submit:focus,
.btn-submit:active,
.btn-submit.active,
.open .dropdown-toggle.btn-submit {
  color: #FFFFFF;
  background-color: #A94F22;
  border-color: #A94F22;
}

.btn-submit:active,
.btn-submit.active,
.open .dropdown-toggle.btn-submit {
  background-image: none;
}

.btn-submit.disabled,
.btn-submit[disabled],
fieldset[disabled] .btn-submit,
.btn-submit.disabled:hover,
.btn-submit[disabled]:hover,
fieldset[disabled] .btn-submit:hover,
.btn-submit.disabled:focus,
.btn-submit[disabled]:focus,
fieldset[disabled] .btn-submit:focus,
.btn-submit.disabled:active,
.btn-submit[disabled]:active,
fieldset[disabled] .btn-submit:active,
.btn-submit.disabled.active,
.btn-submit[disabled].active,
fieldset[disabled] .btn-submit.active {
  background-color: #A94F22;
  border-color: #A94F22;
}

.btn-submit .badge {
  color: #A94F22;
  background-color: #FFFFFF;
}
