{% extends "common/base.html" %}

{% block title %}
    Source.Python Plugin Manager Statistics
{% endblock title %}

{% block content %}
    <h1>Source.Python Plugin Manager Statistics:</h1><br />
    Users with contributions: {{ users }}<br />
    Total Projects: {{ total_projects }}<br />
    Packages: {{ package_count }}<br />
    Plugins: {{ plugin_count }}<br />
    Sub-Plugins: {{ sub_plugin_count }}<br />
    Package Downloads: {{ package_downloads }}<br />
    Plugin Downloads: {{ plugin_downloads }}<br />
    Sub-Plugin Downloads: {{ sub_plugin_downloads }}<br />
    Total Downloads: {{ total_downloads }}
{% endblock content %}
