{% extends "common/base.html" %}
{% load i18n %}
{% load bbcode_tags %}
{% bbcode entry.bbcode_content %}

{% block title %}
    {{ sub_plugin }} Releases
{% endblock title %}

{% block content %}

    <body>

        <h1>{{ sub_plugin }} Releases</h1>

        <ul>
            {% for release in subpluginrelease_list %}
                <br />
                <h4><a href="{{ release.get_absolute_url }}">Version {{ release.version }}</a> <span style="font-size: small;"> &nbsp; ({{ release.download_count }} Downloads)</span></h4>
                <ul>
                    {{ release.notes.rendered|default_if_none:'' }}
                </ul>
            {% endfor %}
        </ul>

    </body>

{% endblock content %}
