{% extends "common/sidebar.html" %}

{% block title %}Recent Sub-Plugins for {{ plugin.name }}{% endblock title %}

{% block content %}

<body>
    <div class="container">
        {% if plugin.paths.all %}
            {% if sub_plugin_list %}
                <h1>Recent Sub-Plugins for {{ plugin.name }}</h1>
                <ul>
                    {% for sub_plugin in sub_plugin_list %}
                        <li><a href="{% url 'plugins:sub_plugins:sub-plugin-detail' plugin_name=plugin.basename sub_plugin_name=sub_plugin.basename %}">{{ sub_plugin }}</a></li>
                    {% endfor %}
                </ul>
            {% else %}
                <h1>No sub-plugins are registered for {{ plugin.name }}.</h1>
            {% endif %}
            <a href="{% url 'plugins:sub_plugins:sub-plugin-create' plugin_name=plugin.basename %}">Create Sub-Plugin?</a>
        {% else %}
            <h1>{{ plugin.name }} does not support sub-plugins.</h1>
        {% endif %}
    </div>
</body>

{% endblock content %}
