{% extends "common/sidebar.html" %}
{% load i18n %}
{% load bbcode_tags %}
{% bbcode entry.bbcode_content %}

{% block title %}
    {{ sub_plugin.name }} - version {{ sub_plugin.version }}
{% endblock title %}

{% block content %}

    <body>

        {% if sub_plugin.logo %}
            <img src="{{ MEDIA_URL }}{{ sub_plugin.logo }}" height="135" width="135" alt="{{ sub_plugin }} Logo"/>
        {% endif %}
        <h1>{{ sub_plugin.name }} - version {{ sub_plugin.version }}</h1>
        <p>Sub-Plugin for <a href="{{ sub_plugin.plugin.get_absolute_url }}">{{ sub_plugin.plugin.name }}</a></p>

        <br />
        <p>Created on {{ sub_plugin.date_created }}</p>
        {% if sub_plugin.date_last_updated %}
            <p>Last updated on {{ sub_plugin.date_last_updated }}</p>
        {% endif %}

        <br />
        <ul>
            <div class="row">
                <div class="col-sm-12">
                    <div class="panel panel-primary panel-primary-custom">
                        <div class="panel-heading panel-heading-custom">
                            <h3 class="panel-title">{% trans 'Owner' %}</h3>
                        </div>
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td><a href="{{ sub_plugin.owner.get_absolute_url }}">{{ sub_plugin.owner }}</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            {% if contributors %}
                <br />
                <div class="row">
                    <div class="col-sm-12">
                        <div class="panel panel-primary panel-primary-custom">
                            <div class="panel-heading panel-heading-custom">
                                <h3 class="panel-title">{% trans 'Contributors' %}</h3>
                                {#  TODO: only show this if the user is logged in and is the owner #}
                                <span class="pull-right" style="margin-top: -20px">
                                    <a href="{% url 'plugins:sub_plugins:add_contributor' slug=sub_plugin.plugin.slug sub_plugin_slug=sub_plugin.slug %}">
                                        <button type="button" class="btn btn-xs btn-default">Add Contributor</button>
                                    </a>
                                </span>
                            </div>
                            <table class="table table-striped">
                                <tbody>
                                    {% for contributor in contributors %}
                                        <tr>
                                            <td><a href="{{ contributor.get_absolute_url }}">{{ contributor }}</a></td>
                                            {# TODO: only show this if the user is logged in and is the owner #}
                                            <td class="text-right">
            {#                                    <a data-toggle="modal" href="#{{  }}"#}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            {% endif %}
        </ul>

        {% if sub_plugin.description.rendered %}
            <h3>Description</h3>
            <ol>
                {{ sub_plugin.description.rendered }}
            </ol>
            <br />
        {% endif %}

        <h3>Installation</h3>
        <ol>
            <li>Download the zip file.</li>
            <li>Extract the zip file to your server's primary directory (ie <span style="color: blue">../my_servers/css/cstrike/</span>).</li>
        </ol>
        <br />

        {% if sub_plugin.configuration.rendered %}
            <h3>Configuration</h3>
            <ol>
                {{ sub_plugin.configuration.rendered }}
            </ol>
            <br />
        {% endif %}

        <p>As this is a sub-plugin, it is up to the <a href="{{ sub_plugin.plugin.get_absolute_url }}">{{ sub_plugin.plugin.name }}</a> plugin to determine how to load it.</p>

        {# TODO: Add package requirements #}
        {# TODO: Add pypi requirements #}

        <b><a href="{% url 'plugins:sub_plugins:edit' slug=sub_plugin.plugin.slug sub_plugin_slug=sub_plugin.slug %}">Edit Page</a></b><br />
        <b><a href="{% url 'plugins:sub_plugins:update' slug=sub_plugin.plugin.slug sub_plugin_slug=sub_plugin.slug %}">Update Sub-Plugin</a></b>

    </body>

{% endblock content %}
